.pane-header.pane-list-header {    width: 50px;
    background-color: #0f9d58;
}
.butterbar-container{
   display: none;
}


.chatlist-panel{
   background-color: #ffffff;
}

.pane-list-user{
   display: none;
}

.intro-body{
   display: none;
}

.intro{
   background-color: #ffffff;
}

.chatlist-panel-search{
   display: none;
}

.pane-list-controls {
    background: url(//ssl.gstatic.com/docs/common/product/spreadsheets1.svg) center no-repeat;
    display: block;
    width: 20px;
    height: 25px;
}

.menu-horizontal>.menu-item, .menu-horizontal>span>.menu-item{
   display: none;
}

.chatlist .chat-avatar{
   display: none;
}

.chat-drag-cover{
   font-size: 13px;
   font-family: arial;
   font-weight: normal;
   height: 40px;
}

.chatlist .chat {
    height: 72px;
    font-size: 13px;
    height: 40px;
    border: 1px solid gainsboro;
}

.chat-secondary, .header-secondary{
   display: none;
}
